@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../../public/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-helvetica: "Helvetica Neue", "sans-serif";
}

.body {
  font-family: var(--font-helvetica);
}


@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes infinite-scroll-1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes infinite-scroll-2 {
  0% { transform: translateX(-25%); }
  100% { transform: translateX(-75%); }
}

.animate-infinite-scroll-1 {
  animation: infinite-scroll-1 40s linear infinite;
}

.animate-infinite-scroll-2 {
  animation: infinite-scroll-2 40s linear infinite;
}

@media (min-width: 768px) {
  .animate-infinite-scroll-1,
  .animate-infinite-scroll-2 {
    animation: none;
  }
}

.transform {
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes infinite-scroll-1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes infinite-scroll-2 {
  0% { transform: translateX(-25%); }
  100% { transform: translateX(-75%); }
}

.animate-infinite-scroll-1 {
  animation: infinite-scroll-1 40s linear infinite;
}

.animate-infinite-scroll-2 {
  animation: infinite-scroll-2 40s linear infinite;
}

@media (min-width: 768px) {
  .animate-infinite-scroll-1,
  .animate-infinite-scroll-2 {
    animation: none;
  }
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes vertical-scroll-offset {
  0% {
    transform: translateY(10%); 
  }
  100% {
    transform: translateY(-40%);
  }
}

.animate-vertical-scroll {
  animation: vertical-scroll 30s linear infinite;
}

.animate-vertical-scroll-offset {
  animation: vertical-scroll-offset 30s linear infinite;
}

