@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../../public/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../../public/fonts/InterTight-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-helvetica: "Helvetica Neue", "sans-serif";
  --font-inter:"Inter Tight"
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

/* Apply Inter to all tags by default */
body, html, * {
  font-family: var(--font-inter);
}

/* Override font for all span tags */
span {
  font-family: var(--font-helvetica);
}

